* {
  box-sizing: border-box; }

body {
  background: linear-gradient(to bottom, #333333, #000000); }

.container {
  margin: 4.157em;
  box-shadow: 0px 0px 30px 2px #b7b4b4; }

header {
  background: linear-gradient(#383131, #909090);
  color: white; }
  header h1 {
    margin: 0;
    padding: 0px 30px;
    text-shadow: 0 0 10px #02c6ff, 0 0 10px #02c6ff; }
  header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin: 0; }
    header ul li {
      text-align: center;
      border-top: 0;
      padding: 10px 50px; }
      header ul li span {
        font-style: normal;
        text-shadow: 0 0 10px #02c6ff, 0 0 10px #02c6ff;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
        header ul li span i {
          margin-right: 8px; }
        header ul li span:hover {
          text-shadow: 0 0 10px #ff00de, 0 0 10px #ff00de; }

/* .content {
    display: flex;
    height: auto;
    min-height: 60px;
    flex-wrap: wrap;
    .leftdiv {
        width: 590px;
        display: flex;
        flex-wrap: wrap;
        color: white;
        margin: 2px auto;
        article {
            height: auto;
            margin: 2px;
            width: 100%;
            border: 5px dotted;
            border-image: linear-gradient(to left top, #d3d3d3, grey) 1;
            h2 {
                text-shadow: 0 0 10px #02c6ff, 0 0 10px #02c6ff;
                margin: 2px;
            }
        }
    }
} */
.tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  color: white; }

.tile {
  flex: 1 0 350px;
  align-self: stretch;
  max-width: 100%;
  margin: 5px;
  border: 5px dotted;
  border-image: linear-gradient(to left top, #d3d3d3, grey) 1;
  /*  &:nth-child(4n+5) {
     flex-basis: 450px;
 }
 */ }
  .tile:nth-child(1) {
    flex-basis: 850px; }
  .tile:nth-child(3) {
    flex-basis: 700px; }
  .tile:nth-child(4) {
    flex-basis: 850px; }
  .tile h2 {
    text-shadow: 0 0 10px #02c6ff, 0 0 10px #02c6ff;
    margin: 2px; }

@media screen and (max-width: 500px) {
  header h1 {
    padding: 0px 39px !important; } }

@media screen and (max-width: 1000px) {
  .tile {
    flex-basis: 97% !important;
    max-width: 100%; } }

/* html {
    font-size: 12px;
}

.dont-render-dawg {
    position: absolute;
    height: 0;
    width: 0;
}

.main-nav {
    background: #eee;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }
    a {
        padding: 1.25rem 0.5rem;
        font-size: 1.6rem;
        max-width: 140px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        color: #333;
        &:hover,
        &:focus {
            background: #ccc;
            color: black;
            svg {
                fill: green;
            }
            span {
                color: black;
            }
        }
    }
    span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #888;
        margin: 0.25rem 0 0 0;
    }
    .icon {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 1rem;
        fill: #999;
    }
    &.outlines {
        * {
            outline: 1px solid rgba(red, 0.5);
        }
    }
}

.options {
    text-align: center;
    padding: 2rem 0;
    select {
        margin-right: 2rem;
    }
}

@media (min-width: 1000px) {
    .main-nav {
        a {
            max-width: 500px;
            font-size: 2rem;
        }
        .icon {
            width: 25px;
            height: 25px;
        }
    }
}
 */
